.main {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-family: "Lucida Console", "Courier New", monospace;
}
.bakery {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 15%;
	-moz-transform: translateX(-15%) translateY(-50%);
	-webkit-transform: translateX(-15%) translateY(-50%);
	transform: translateX(-15%) translateY(-50%);
	font-family: "Lucida Console", "Courier New", monospace;
}
.bakeryStyle {
	padding: 32px 32px;
	margin-bottom: 10px;
}
.bakeryLit {
	background-color: #abfeff;
	padding: 32px 32px;
	margin-bottom: 10px;
}
.bakeryText {
	font-size: 32px;
	margin-bottom: 0px;
}
.bakeryInfo {
	height: 5px
}
.bakeryMultiText {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 12px;
}
.bakeryMultiTextStyle {
	color: green;
	font-size: 14px;
}
.cookies {
	color: blue;
	font-size: 26px;
}
.cps {
	margin-top: 10px;
	font-size: 12px;
}
.cookiesPS {
	color: blue;
	font-size: 14px;
}
.time {
	color: red;
	font-size: 26px;
}
.next {
	font-size: 10px;
	color: #6B6A6A;
	margin-bottom:20px;
}
.upgradeText {
	font-size: 26px;
	margin-bottom:0;
}
button {
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 2px;
	font-size: 16px;
	padding: 10px 24px;
	border: 2px solid #6B6A6A;
	color: #6B6A6A;
	background-color: white;
	transition-duration: 0.3s;
}
button:hover {
	background-color: #cfcfcf;
}
button:disabled {
	color: #c7c7c7;
	background-color: grey;
}
