.everything {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-family: "Lucida Console", "Courier New", monospace;
}
.cookies {
	color: blue;
}
.time {
	color: red;
}
button {
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 2px;
	font-size: 16px;
	padding: 10px 24px;
	border: 2px solid #6B6A6A;
	color: #c7c7c7;
	background-color: grey;
	transition-duration: 0.3s;
}
button:hover {
	color: #a3a3a3;
	background-color: white;
}
